@charset "ISO-8859-1";

	/* PAGE BACKGROUNDS */
	
	.page-background {
		background-image: url("../images/page_bg.png");
	    height: 100%;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	
	}
	
	body.pushable>.pusher {
	  background-image: url("../images/page_bg.png");
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover; 
	  height: 100%;
	  overflow-y: auto !important;
	} 
	
	/* PAGE LAYOUT */
	
	.page-content-spacing {
		padding: 70px 20px 10px 20px;
	}
	
	/* MENU LAYOUT */
	
	.user-account-color {
		color: rgba(255, 255, 255, 0.9) !important;
	}
	
	.user-accountsub-color {
		color: rgba(255, 255, 255, 0.7) !important;
	}
	
	.user-account-bgcolor {
		background-color: #be152f !important;
	}
	
	.user-account-bgcolor:hover {
		background-color: #bd2e44 !important;
	}
	
	i.large.icon, i.large.icons {
	    font-size: 1.3em;
	}
	
	i.large.icon.side, i.large.icons.side {
	    line-height: 0.7 !important;
	}

