@charset "ISO-8859-1";
		
	html, body {
		background: url("../images/login_bg6b.png") no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    height: 100%;
	}
	
	.login-form-area {
		background-color: white;
	}
	
	.smaller {
		width: 100px;
	}	
	

	/* USED BY THE SEND A MESSAGE TO THE DIRECTOR */
	
	.messagepage-header {
		margin-top: 10px;
		margin-bottom: 10px;
	}