@charset "ISO-8859-1";
	
	body, html {
	    height: 100%;
	}
			
	.login-background {
		background-image: url("../images/login_bg.png");
	    height: 100%;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	
	.title-area {
		color: white;
	}
	
	.login-form-area {
		background-color: white;
		margin-top:
	}	