@charset "ISO-8859-1";
		
	.login-background {
		background-image: url("../images/login_bg2.png");
	    height: 100%;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	
	.login-form-area {
		background-color: white;
	}
	
	.smaller {
		width: 100px;
	}	
	
	.modal-content {
		margin: 20px;
	}
	
	.microcopy-hint {
		color: gray;
		font-size: 12px;
	}