<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>IICS-DMS_devproject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>jdbcDriver</param-name>
    <param-value>qmVJxaakjfR2RpWZtcWa3k9kaW5p+/zwF+Hn4LqRMBM=</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUrl</param-name>
    <param-value>eVcNb1dV/KeG1GnIpP8iTqgyWx0FWzso91l3s2nD40fn0PCNl9j6S+acvzeIFctP</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserName</param-name>
    <param-value>kcLZqkaylgpYU7GTzvbcZQ==</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>kcLZqkaylgpYU7GTzvbcZQ==</param-value>
  </context-param>
    <context-param>
    <param-name>USERNAME</param-name>
    <param-value>aFHYh9voqt82vd/dcsh2aLu8+dhJ0Y6xDag++J1bdaU=</param-value>
  </context-param>
    <context-param>
    <param-name>PASSWORD</param-name>
    <param-value>32d6Vq3PcRQtmTx5Lp0bvA==</param-value>
  </context-param>
</web-app>